body {
  background: #2f3542;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo_text {
  font-family: 'PingFang SC';
  font-size: 96px;
  fill: none;
  /* stroke: #fff; */
  stroke: url(#geekColor);
  stroke-width: 1;
  stroke-dasharray: 10 800;
  stroke-dashoffset: 10;
  animation: 3s linear drawing forwards;
}

/* 绘制动画 */

@keyframes drawing {
  to {
    stroke-dasharray: 800;
  }
}
